 @font-face {
   font-family: "PT Sans";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   src: url("../fonts/ptsans-400.woff2") format("woff2");
 }

 @font-face {
   font-family: "PT Sans";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
   src: url("../fonts/ptsans-700.woff2") format("woff2");
 }

 body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.button {
  color: #ffffff;
  background-color: #82B3D3;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-style: none;
}

.header {
  color: #000000;
  padding: 0 70px;
}

.nav {
  display: flex;
  gap: 28px;
}

.logo {
  margin-bottom: -6px;
  position: relative;
}

.nav img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-menu-list {
  margin-left: auto;
  width: 350px;
  justify-content: end;
}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}

.user-menu-list .nav-link {
  width: 20px;
  height: 20px;
  padding: 22px 12px;
}

.user-menu-search {
  outline: 1px solid rgba(252, 0, 0, 0.5);
  outline-offset: -1px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20px;
  height: 20px;
}

.user-menu-search::before {
  content: "";
  display: block;
  background: #000000;
  width: 18px;
  height: 18px;
  mask: url("../images/icons/search.svg") no-repeat center;
}

.favorites-number {
  color: #ffffff;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  border-radius: 10px;
  padding: 5px;
}

.user-menu-button {
  background-color: #756157;
  display: block;
  min-width: 130px;
  padding: 8px 15px;
  border-radius: 4px;
}

.main {
  flex-grow: 1;
}

.welcome {
  background-image: url("../images/pictures/background-rocks-1.jpg");
  background-repeat: no-repeat;
  background-color: #95d0f7;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 51px 0 82px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  padding: 69px 200px;
  gap: 20px;
}

.advantages-wrapper {
  margin-bottom: 21px;
  gap: 25px;
}

.advices-wrapper {
  padding: 64px 200px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 0 96px;
}

.search-wrapper {
  padding-bottom: 54px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  padding: 27px 0 104px;
}

.subscribe-wrapper {
  padding-bottom: 54px;
}

.subscribe-form {
  display: flex;
  padding: 0 258px;
}

.title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.title-text {
  margin: 0;
}

.subtitle {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.subtitle-special {
  color: #ffffff;
}

.subtitle-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 63px;
  width: 400px;
  padding: 112px 85px 112px;
  box-sizing: border-box;
}

.advantages-item-special {
  background-color: #83b3d3;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 1200px;
}

.advantages-item-wrap {
  gap: 62px;
  padding: 102px 85px 102px;
}

.advantages-img {
  display: block;
}

.advantages-item-different {
  background-color:rgba(131, 179, 211, 0.2);
}

.advices {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.advices-list {
  display: flex;
  flex-wrap: wrap;
}

.advices-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 30px;
  width: 400px;
  padding: 81px 85px;
  box-sizing: border-box;
}

.advices-item-special {
  background-color: rgba(131, 179, 211, 0.12);
}

.advices-img {
  outline: 1px solid rgba(0, 118, 252, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 72px;
}

.advices-img-food {
  justify-content: end;
}

.advices-img::before {
  content: "";
  display: block;
  background: #83b3d3;
}

.advices-img-house::before {
  width: 75px;
  height: 72px;
  mask: url("../images/house.svg") no-repeat center;
}

.advices-img-food::before {
  width: 74px;
  height: 70px;
  mask: url("../images/food.svg") no-repeat;
}

.advices-img-gift::before {
  width: 64px;
  height: 76px;
  mask: url("../images/gift.svg") no-repeat center;
}

.button-search {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 4px;
}

.title-subscribe {
  color: #ffffff;
}

.subscribe-special {
  background-image: url("../images/pictures/background-rocks-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #95d0f7;
  color: #ffffff;
}

.input {
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-indent: 20px;
  padding: 0;
  border: none;
  border-radius: 4px 0 0 4px;
  flex-grow: 1;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 70px 45px;
}

.socials {
  width: 142px;
  height: 40px;
}

.socials-list {
  display: flex;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  /* color: inherit; */
  /* text-decoration: none; */
}

.socials-link::before {
  content: "";
  display: block;
  background: #83b3d3;
}

.socials-link-vk::before {
  width: 24px;
  height: 14px;
  mask: url("../images/socials/vk.svg") no-repeat center;
}

.socials-link-telegram::before {
  width: 18px;
  height: 16px;
  mask: url("../images/socials/telegram.svg") no-repeat center;
}

.socials-link-youtube::before {
  width: 22px;
  height: 17px;
  mask: url("../images/socials/youtube.svg") no-repeat center;
}

.socials-link:hover::before {
  background: #68a2ca;
}

.socials-link:focus::before {
  background: #68a2ca;
}

.socials-link:active::before {
  background: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  color: #000000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 33px;
  /* color: inherit; */
  /* text-decoration: none; */
  
}

.developer-link::before {
  content: "";
  display: block;
  width: 115px;
  height: 33px;
  background: #000000;
  mask: url("../images/developer-logo.svg") no-repeat center;
}

.developer-link:hover::before {
  background: #756157;
}

.developer-link:focus::before {
  background: #756157;
}

.developer-link:active::before {
  background: rgba(117, 97, 87, 0.3);
}

.catalog-top {
  background-image: url("../images/pictures/background-rocks-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #95d0f7;
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px;
  margin-bottom: 50px;
}

.catalog-top-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-list {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.filter-form {
  display: flex;
  gap: 70px;
}

.filter-group {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  border: none;
  display: flex;
  gap: 18px;
  flex-direction: column;
}

.filter-group-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
  align-content: space-between;
  margin-left: 70px;
}

.filter-list {
  display: grid;
  gap: 16px;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-input {
  font-weight: 700;
  width: 143px;
  padding-block: 12px;
}

.filter-input-right {
  border-radius: 0 4px 4px 0;
}

.input-box {
  font-family: inherit;
  font-size: inherit;
}

.button-slider {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border-style: none;
}

.button-slider-right {
  justify-self: center;
}

.filter-form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.filter-form-button {
  display: block;
  min-width: 191px;
  padding: 8px 16px;
  border-radius: 4px;
}

.button-reset {
  background-color: transparent;
  margin-top: 32px;
  outline: 1px solid #ffffff;
  outline-offset: -1px;
}

.sorting-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  margin-bottom: 40px;
}

.select-sorting {
  background-color: #ffffff;
  color: #333333;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-mode-list {
  display: flex;
  gap: 8px;
}

.view-mode-item {
  outline: 5px solid rgba(252, 0, 0, 0.5);
  outline-offset: -5px;
  width: 48px;
  height: 48px;
}

.view-mode-link {
  color: inherit;
  text-decoration: none;
}

.catalog {
  text-align: left;
  margin-bottom: 60px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 70px;
  margin-bottom: 80px;
}

.catalog-item {
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.catalog-img-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.catalog-image {
  display: block;
}

.catalog-title-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.catalog-title {
  text-transform: capitalize;
}

.subtitle-text-price {
  justify-self: end;
}

.button-info {
  background-color: #756157;
  display: block;
  text-align: center;
  min-width: 110px;
  padding: 8px 15px;
  border-radius: 4px;
}

.button-favorite {
  display: block;
  min-width: 110px;
  padding: 8px 15px;
  border-radius: 4px;
}

.button-favorite-active {
  background-color: #7db54f;
}

.button-rating {
  color: #000000;
  background-color: #F2F2F2;
  font-weight: 400;
  text-align: center;
  min-width: 110px;
  padding: 9px 15px 8px;
  border-radius: 4px;
}

.catalog-item p {
  margin: 0;
}

.pagination-list {
  display: flex;
  padding: 0 70px;
  gap: 8px;
}

.button-pagination {
  display: block;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 24px;
  border-radius: 4px;
}

.button-pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-dots {
  font-weight: 400;
  color: #000000;
  background-color: transparent;
}

.button-pagination-two-digits {
  padding: 12px 18px;
}