 @font-face {
   font-family: "PT Sans";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   src: url("../fonts/ptsans-400.woff2") format("woff2");
 }

 @font-face {
   font-family: "PT Sans";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
   src: url("../fonts/ptsans-700.woff2") format("woff2");
 }

 body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.header {
  color: #000000;
  background-color: #ffffff
}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.link {
  color: inherit;
  text-decoration: none;
}

.favorites-number {
  color: #ffffff;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
}

.button {
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  text-decoration: none;
  font-family: inherit;
}

.button-search, .nav-user-button, .button-more-info {
  background-color: #756157;
}

.button-search, .button-subscribe, .button-pagination {
  font-size: 20px;
  line-height: 36px;
}

.button-reset {
  background-color: transparent;
}

.button-favorite-active {
  background-color: #7db54f;
}

.button-rating, .button-pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.button-rating {
  font-weight: 400;
  display: inline-block;
}

.main {
  background-color: #ffffff;
}

.welcome {
  background-image: url("../images/pictures/background-rocks-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #95d0f7;
  /*background-position: left top;*/
}

.title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle-special {
  color: #ffffff;
}

.list {
  list-style-type: none;
}

.subtitle-text {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item, .advices-item-special {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-special {
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-item-different {
  background-color:rgba(131, 179, 211, 0.2);
}

.title-subscribe {
  color: #ffffff;
}

.subscribe-special {
  background-image: url("../images/pictures/background-rocks-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #95d0f7;
  color: #ffffff;
}

.input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.footer {
  background-color: #ffffff;
}

.contacts-phone {
  color: #000000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-top {
  background-image: url("../images/pictures/background-rocks-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #95d0f7;
  color: #ffffff;
  text-align: left;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog {
  text-align: left;
}

.select-sorting {
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  background-color: #ffffff;
  color: #333333;
}

.catalog-title {
  text-transform: capitalize;
}
