 @font-face {
   font-family: "PT Sans";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   src: url("../fonts/ptsans-400.woff2") format("woff2");
 }

 @font-face {
   font-family: "PT Sans";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
   src: url("../fonts/ptsans-700.woff2") format("woff2");
 }

html {
  background-color: #f2f2f2;
  height: 100%;
}

 body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  outline: 5px solid rgba(252, 0, 0, 0.5);
  outline-offset: -5px;
}

.header {
  color: #000000;
  background-color: #ffffff;
  outline: 5px solid rgba(0, 101, 252, 0.568);
  outline-offset: -5px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.nav {
  outline: 5px solid rgba(252, 0, 218, 0.568);
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

.nav-list {
  outline: 5px solid rgba(0, 252, 168, 0.568);
  outline-offset: -5px;
  display: flex;
  width: 339px;
  justify-content: space-evenly;
}

.nav-user-list {
  outline: 5px solid rgba(252, 214, 0, 0.568);
  outline-offset: -5px;
  display: flex;
  width: 268px;
  justify-content: space-evenly;
}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.link {
  color: inherit;
  text-decoration: none;
}

.favorites-number {
  color: #ffffff;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
}

.button {
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  text-decoration: none;
  font-family: inherit;
}

.button-search, .nav-user-button, .button-more-info {
  background-color: #756157;
}

.button-search, .button-subscribe, .button-pagination {
  font-size: 20px;
  line-height: 36px;
}

.button-search {
  width: 290px;
}

.button-reset {
  background-color: transparent;
}

.button-favorite-active {
  background-color: #7db54f;
}

.button-rating, .button-pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.button-rating {
  font-weight: 400;
  display: inline-block;
}

.main {
  background-color: #ffffff;
}

.welcome {
  background-image: url("../images/pictures/background-rocks-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #95d0f7;
  text-align: center;
}

.title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle-special {
  color: #ffffff;
}

.list {
  list-style-type: none;
}

.subtitle-text {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item, .advices-item-special {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-special {
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-item-different {
  background-color:rgba(131, 179, 211, 0.2);
}

.advantages {
  outline: 5px solid rgba(231, 0, 252, 0.568);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.advantages-wrapper {
  outline: 5px solid rgba(252, 122, 0, 0.568);
  outline-offset: -5px;
  display: flex;
}

.advices {
  outline: 5px solid rgba(0, 252, 168, 0.568);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
}

.advices-list {
  outline: 5px solid rgba(252, 122, 0, 0.568);
  outline-offset: -5px;
  display: flex;
}

.search {
  outline: 5px solid rgba(252, 248, 0, 0.568);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
}

.title-subscribe {
  color: #ffffff;
}

.subscribe {
  outline: 5px solid rgba(8, 252, 0, 0.568);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
}

.subscribe-special {
  background-image: url("../images/pictures/background-rocks-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #95d0f7;
  color: #ffffff;
}

.input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.footer {
  background-color: #ffffff;
  outline: 5px solid rgba(0, 88, 252, 0.568);
  outline-offset: -5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socials-list {
  outline: 5px solid rgba(252, 0, 210, 0.568);
  outline-offset: -5px;
  display: flex;
}

.contacts-phone {
  color: #000000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-top {
  background-image: url("../images/pictures/background-rocks-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #95d0f7;
  color: #ffffff;
  text-align: left;
  outline: 5px solid rgba(8, 252, 0, 0.568);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.filter {
  outline: 5px solid rgba(252, 0, 0, 0.568);
  outline-offset: -5px;
  display: flex;
}

.filter-form {
  outline: 5px solid rgba(235, 252, 0, 0.568);
  outline-offset: -5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
}

.wrapper-filter-buttons {
  outline: 5px solid rgba(0, 252, 0, 0.568);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog {
  text-align: left;
}

.select-sorting {
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  background-color: #ffffff;
  color: #333333;
}

.catalog-title {
  text-transform: capitalize;
}

.catalog-list {
  outline: 5px solid rgba(0, 25, 252, 0.568);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
}

.cards-container {
  outline: 5px solid rgba(252, 17, 0, 0.568);
  outline-offset: -5px;
  display: flex;
  justify-content: space-around;
}

.pagination-list {
  outline: 5px solid rgba(235, 252, 0, 0.568);
  outline-offset: -5px;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
